<%- include("./partials/header"); %>
<div>hello <%- user.name %> </div>
<li><a href="/user/change-email">change email</a></li>
<li><a href="/user/change-password">change password</a></li>
<%- include("./partials/footer"); %>
