<%- include('../partials/header'); -%>
<div>
  <form>
    <!-- <h5>create new password for <B><%- //email %></B></h5> -->
    <label>Enter new password</label>
    <input type="password" required autofocus id="newPassword" name="newPassword"/>
    <label>confirm your password</label>
    <input type="password" required id="confirmPassword" name="confirmPassword"/>
    <button type="submit">Log in</button>
  </form>
</div>
<%- include('../partials/footer'); -%>
