<%- include('../partials/header'); -%>
<div>
  <form>
    <h2>Enter your email</h2>
    <input
      type="text"
      name="email"
      id="email"
      autofocus 
      required
      placeholder="email" />
    <div class="email error"></div>
    <button type="submit">Get Otp</button>
  </form>
</div>
<div style="display: none" class="inputOTPContainer">
  <h5>Enter OTP</h5>
  <input type="text" placeholder="OTP" id="otp" />
  <button id="verifyBtn">verify OTP</button>
  <div class="error otp"></div>
</div>

<script>
  const form = document.querySelector("form");
  const verifyBtn = document.getElementById("verifyBtn");
  const emailError = document.querySelector(".error.email");
  const inputOTPContainer = document.querySelector(".inputOTPContainer");
  const otp = document.getElementById("otp");
  const errorOtp = document.querySelector(".error.otp");
  let email = "";
  errorOtp.textContent = "";
  emailError.textContent = "";

  form.addEventListener("submit", async function (e) {
    e.preventDefault();
    email = this.email.value;
    console.log(email);

    try {
      const url = "/user/generateOtp";

      const res = await fetch(url, {
        method: "POST",
        body: JSON.stringify({ email }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      //console.log(data.error);
      if (!data.success) {
        emailError.textContent = data.error;
        return;
      }

      inputOTPContainer.style.display = "block";
    } catch (err) {
      console.log(err);
    }
  });

  verifyBtn.addEventListener("click", async function () {
    errorOtp.textContent = "";
    const otpValue = otp.value;
    if (otpValue === "") {
      errorOtp.textContent = "Enter the OTP";
      return;
    }
    // api call to check otp if matched or not
    try {
      const url = "/user/verifyOtp";
      const res = await fetch(url, {
        method: "POST",
        body: JSON.stringify({ otpValue }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (!data.success) {
        errorOtp.textContent = data.error;
        return;
      }
      console.log(email);
      const url2 = `/user/createNewPassword/${email}`;
      await fetch(url2);
      location.assign(`/user/createNewPassword/${email}`);
    } catch (err) {
      console.log(err);
    }
  });
</script>
<%- include('../partials/footer'); -%>
